body {
    background: #333;
    font-family: 'Ubuntu', Arial, sans-serif;
}
.message {
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    background: #ccc;
    margin: 80px auto 10px;
    border-radius: 10px;
    padding: 15px;
}
.container {
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    background: white;
    margin: 80px auto 10px;
    border-radius: 10px;
}
.container .head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #880231;
    padding: 30px;
    text-align: center;
}
.container .head .logo {
    width: 250px;
    max-width: 100%;
    height: auto;
}
.main {
    padding: 15px;
}
.main h1 {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 24px;
}
.main dl dt {
    clear: both;
    width: 50%;
    float: left;
    margin: 0;
    padding: 5px 0;
}
.main dl dd {
    width: 50%;
    float: left;
    margin: 0;
    padding: 5px 0;
}
.clear {
    clear: both;
}
a {
	color: #880231;
    font-weight: bold;
}
.foot {
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
.foot h2 {
    font-weight: normal;
    margin: 0;
}
.foot.unpaid a {
    color: black;
}
.foot.unpaid {
    background: #EEA400;
}
.foot.paid {
    color: white;
    background: #268800;
}
.foot.canceled {
    color: white;
    background: #880231;
}
a:hover {
	text-decoration: none;
}
.center {
    text-align: center;
}
p:last-child {
    margin-bottom: 0;
}
.footnote {
    width: 90%;
    max-width: 600px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
.footnote a {
    color: white;
    font-weight: normal;
}

.stripe-button-el {
    background: #880231 !important;
}
.stripe-button-el span {
    background: #880231 !important;
}

.text-center {
    text-align: center;
}

@media (max-width: 720px) {
    .main dl dt {
        width: 100%;
    }
    .main dl dd {
        width: 100%;
    }
}
