{% extends "front/base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}

    <div class="container my-5">
        <h2>{% trans "Welcome back!" %}</h2>
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <button type="submit" value="login" class="btn btn-primary">{% trans "Log in" %}</button>
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="form-text text-muted">
                        <a href="{% url 'front:auth.register' %}">{% trans "Register" %}</a> ·
                        <a href="{% url 'front:auth.reset' %}">{% trans "Lost password?" %}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
