{% extends "front/base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container my-5">
        <h2 class="pb-2">{% trans "Categories" %}</h2>
        <div class="row">
            <ul>
                {% for c in categories %}
                    <li>
                        <a href="{% url "front:category" cat=c.pk %}">
                            <strong>
                                {{ c }}
                            </strong>
                        </a>
                        <span class="text-muted">
                        ({% blocktrans trimmed with cnt=c.c|default_if_none:0 count cnt=c.c|default_if_none:0 %}
                            {{ cnt }} product
                        {% plural %}
                            {{ cnt }} products
                        {% endblocktrans %})
                    </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
