{% extends "front/product_base.html" %}
{% load compress %}
{% load static %}
{% load rich_text %}
{% load i18n %}
{% load humanize %}
{% block inner %}
    {% for v in product.versions.all %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <strong>{{ v.name }}</strong><br>
                        <span class="text-muted">
                            {{ v.release_date|date:"SHORT_DATE_FORMAT" }}
                            {% if v.deliverable_file_size %}
                                &middot; {{ v.deliverable_file_size|filesizeformat }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="col-2">
                        {% if product.delivery_method == "pypi" and v.deliverable_url %}
                            <a href="{{ v.deliverable_url }}" target="_blank" class="btn btn-outline-primary btn-block">
                                <span class="fa fa-download"></span>
                                <span class="d-none d-md-inline">{% trans "Download" %}</span>
                            </a>
                        {% elif product.delivery_method == "file" %}
                            <a href="{% url "download:file.download" package=product.package_name version=v.pk %}" target="_blank" class="btn btn-outline-primary btn-block">
                                <span class="fa fa-download"></span>
                                <span class="d-none d-md-inline">
                                    {% trans "Download" %}
                                </span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% if v.min_platform_version and v.max_platform_version %}
                    <div>
                        {% trans "Supported platform versions:" %} {{ v.min_platform_version }} – {{ v.max_platform_version }}
                    </div>
                {% elif v.min_platform_version %}
                    <div>
                        {% trans "Minimum platform version:" %} {{ v.min_platform_version }}
                    </div>
                {% elif v.max_platform_version %}
                    <div>
                        {% trans "Maximum platform version:" %} {{ v.max_platform_version }}
                    </div>
                {% endif %}
                {% if v.release_notes %}
                    {{ v.release_notes|rich_text }}
                {% endif %}
                {% if v.deliverable_file_checksum %}
                    <p class="text-muted">
                        <small>{% trans "SHA-256 checksum"%}: <code>{{ v.deliverable_file_checksum }}</code></small>
                    </p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>{% trans "No version of this product have been uploaded yet." %}</p>
    {% endfor %}
{% endblock %}
