{% extends "front/base.html" %}
{% load compress %}
{% load static %}
{% load rich_text %}
{% load i18n %}
{% block content %}

    <div class="my-5">
    <div class="container">
        <p class="text-secondary">
            <a href="{% url "front:category" cat=product.category.pk %}" class="text-muted">
                {{ product.category }}</a>
        </p>
        <div class="row">
            <div class="col-md-10">
                <h2 class="pb-2">
					{% if product.stability == "discontinued" %}<del>{% endif %}
                    {{ product }}
					{% if product.stability == "discontinued" %}</del>{% endif %}
                    {% if not product.approved %}
                        <span class="badge rounded-pill bg-dark">{% trans "Draft" %}</span>
                    {% endif %}
                    {% if product.stability == "alpha" %}
                        <span class="badge bg-danger">{% trans "alpha" %}</span>
                    {% elif product.stability == "discontinued" %}
                        <span class="badge bg-warning">{% trans "discontinued" %}</span>
                    {% elif product.stability == "beta" %}
                        <span class="badge bg-warning">{% trans "beta" %}</span>
                    {% endif %}
                    {% if product.certified %}
                        <span class="badge rounded-pill bg-success" data-toggle="tooltip" title="{% trans "Certified plugin" %}">
                        <span class="fa fa-check"></span>
                    </span>
                    {% endif %}

                    {% if product.vendor in request.user.vendors.all %}
                        <a href="{% url "front:vendor.product.edit" vendor=product.vendor.pk pk=product.pk %}" class="btn btn-outline-primary"><span class="fa fa-edit"></span></a>
                    {% endif %}
                </h2>
            </div>
            <div class="col-md-2">
                {% if product.is_paid %}
                    <a href="{% url "front:product.buy" product=product.slug %}" class="btn btn-success btn-block">
                        <span class="fa fa-shopping-cart"></span>
                        {% trans "Buy" %}
                    </a>
                {% elif product.delivery_method == "bundled" %}
                    <button type="button" class="btn btn-outline-success btn-block" disabled="">
                        <span class="fa fa-check"></span>
                        {% trans "Bundled" %}
                    </button>
                {% elif product.delivery_method == "file" %}
                    <a href="{% url "front:product.versions" product=product.slug %}" class="btn btn-outline-success btn-block">
                        <span class="fa fa-download"></span>
                        {% trans "Download" %}
                    </a>
                {% elif product.delivery_method == "external" %}
                    <a href="{{ product.external_store_url }}" class="btn btn-outline-success btn-block" target="_blank">
                        <span class="fa fa-download"></span>
                        {% trans "Download" %}
                    </a>
                {% else %}
                    <a href="{% url "front:product.instructions" product=product.slug %}" class="btn btn-outline-success btn-block">
                        <span class="fa fa-download"></span>
                        {% trans "Install" %}
                    </a>
                {% endif %}
            </div>
        </div>
        <ul class="nav nav-pills mt-3 mt-md-0 mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == "product" %}active{% endif %}" href="{% url "front:product" product=product.slug %}">
                    {% trans "Overview" %}
                </a>
            </li>
            {% if product.is_paid %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == "product.pricing" %}active{% endif %}"
                       href="{% url "front:product.pricing" product=product.slug %}">
                        {% trans "Pricing" %}
                    </a>
                </li>
            {% elif product.delivery_method != "file" and product.delivery_method != "external" %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == "product.instructions" %}active{% endif %}"
                       href="{% url "front:product.instructions" product=product.slug %}">
                        {% trans "Instructions" %}
                    </a>
                </li>
            {% endif %}
            {% if product.delivery_method != "bundled" and product.delivery_method != "external" %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == "product.versions" %}active{% endif %}"
                       href="{% url "front:product.versions" product=product.slug %}">
                        {% trans "Versions" %}
                    </a>
                </li>
            {% endif %}
        </ul>
        {% block inner %}{% endblock %}
    </div>
{% endblock %}
