{% extends "front/product_base.html" %}
{% load compress %}
{% load static %}
{% load rich_text %}
{% load i18n %}
{% load thumbnail %}
{% block inner %}
    <div class="row">
        <div class="col-md-8">

            {% if product.screenshots %}
                <div class="thumbnails">
                    {% for s in product.screenshots.all %}
                        <a href="{{ s.picture.url }}" data-toggle="lightbox" data-gallery="product">
                            <img src="{{ s.picture|thumbnail_url:"screen" }}" title="{{ s.title }}" alt="{{ s.title }}"
                                 class="img-thumbnail">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    {{ product.long_description|rich_text }}
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
            <div class="card">
                {% if not product.vendor.certified %}
                    <div class="alert alert-warning">
                        {% trans "This plugin is provided by the following third-party vendor. We have not verified the quality and cannot provide support for this plugin." %}
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url "front:vendor" pk=product.vendor.pk %}">
                            {{ product.vendor }}</a>
                        {% if product.vendor.certified %}
                            <span class="badge rounded-pill bg-success" data-toggle="tooltip"
                                  title="{% trans "Certified vendor" %}">
                                <span class="fa fa-check"></span>
                            </span>
                        {% endif %}
                    </h5>
                    <p>
                        {% if product.vendor.support_contact_email %}
                            <span class="fa fa-fw fa-envelope"></span>
                            <a href="mailto:{{ product.vendor.support_contact_email }}">
                                {{ product.vendor.support_contact_email }}</a>
                            <br>
                        {% endif %}
                        {% if product.vendor.support_contact_phone %}
                            <a href="tel:{{ product.vendor.support_contact_phone }}">
                                <span class="fa fa-fw fa-phone"></span>
                                {{ product.vendor.support_contact_phone }}</a>
                            <br>
                        {% endif %}
                        {% if product.vendor.support_contact_url %}
                            <span class="fa fa-fw fa-support"></span>
                            <a href="{{ product.vendor.support_contact_url }}"
                               target="_blank">{{ product.vendor.support_contact_url }}</a>
                        {% endif %}
                    </p>
                    {% if product.vendor.support_contact_info %}
                        {{ product.vendor.support_contact_info|rich_text }}
                    {% endif %}
                </div>
            </div>
            {% if product.website_url %}
                <div class="card mt-4">
                    <div class="card-body">
                        <a href="{{ product.website_url }}" target="_blank">
                            <span class="fa fa-globe fa-fw"></span> {% trans "View product website" %}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if product.external_store_url %}
                <div class="card mt-4">
                    <div class="card-body">
                        <a href="{{ product.external_store_url }}" target="_blank">
                            <span class="fa fa-shopping-bag fa-fw"></span> {% trans "View on external store" %}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if product.github_url %}
                <div class="card mt-4">
                    <div class="card-body">
                        <a href="{{ product.github_url }}" target="_blank">
                            <span class="fa fa-github fa-fw"></span> {% trans "View on GitHub" %}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if product.package_name and product.delivery_method == "pypi" %}
                <div class="card mt-4">
                    <div class="card-body">
                        <a href="https://pypi.python.org/pypi/{{ product.package_name }}" target="_blank">
                            <span class="fa fa-python fa-fw"></span> {% trans "View on PyPI" %}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
