django>=2.2.9,<3.0
djangorestframework==3.9.*
django-compressor
django-bootstrap4
django-solo
django-libsass
django-context-decorator
django-countries
django-formset-js-improved
bleach
whitenoise
markdown
babel
pycountry
requests
sentry-sdk==0.7.10
pillow
easy_thumbnails

# dev 
ipython
django-extensions

# prod
psycopg2
django-redis
csscompressor
slimit
