django==2.2.*
djangorestframework==3.9.*
django-compressor
django-bootstrap4
django-solo
django-libsass
django-context-decorator
bleach
whitenoise
markdown
babel
pycountry
requests

ipython
django-extensions
